.testimonial {
    text-align: left;
    margin-top: 18rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;
    background-color: $light-grayish-blue;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -7rem;
        width: 100%;
        height: 7rem;
        background-image: url('./../../images/bg-curve-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include respond-to(tab) {
            background-image: url('./../../images/bg-curve-desktop.svg');
        }
    }

    .container {
        flex-direction: column;
        gap: 12rem;

        @include respond-to(desktop) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__image {

        @include respond-to(desktop) {
            order: 2;
        }

        img {
            width: 100%;
        }
    }

    &__content {

        @include respond-to(desktop) {
            order: 1;
            justify-self: flex-start;
        }

    }

    &__title {
        text-align: center;
        margin-bottom: 2.8rem;

        @include respond-to(tab) {
            text-align: left;
        }
    }

    &__snippet--mb {
        margin-bottom: 2rem;
    }

    &__snippet--mbl {
        margin-bottom: 2rem * 2;
    }

    &__button {
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        font-family: $font-body;
        color: $desaturated-blue;
        padding: 1.2rem 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: .2rem;
            width: 18.5rem;
            bottom: 0;
            background-color: $desaturated-blue;

            &:hover {
                opacity: .7;
            }
        }

        &:hover {
            opacity: .7;
        }

        img {
            width: 2.2rem;
            height: 2.2rem;
        }

        @include respond-to(desktop) {
            justify-content: flex-start;
        }
    }

    &__item {
        margin: 6rem auto 0 auto;
        max-width: 40.5rem;
        background-color: #ffffff;
        border-radius: .4rem;
        padding: 2.8rem 2.8rem 2.8rem 4rem;
        box-shadow: 0px 0px 10px 0px $light-gray;

        @include respond-to(desktop) {
            margin: 6rem 0 0 0;
        }

        img {
            width: 1.8rem;
            height: 1.8rem;
        }

        p {
            margin-top: 2rem;
            margin-bottom: 2.5rem;
            font-size: 1.6rem;
            color: #000000;
        }

        .person {
            align-items: center;
            gap: 1.1rem;

            &__image {
                width: 3.6rem;
                height: 3.6rem;
                border-radius: 50%;
            }

            &__about {
                flex-direction: column;
            }

            &__name {
                font-size: 1.6rem;
                color: $very-dark-blue;
                font-weight: bold;
            }

            &__job {
                font-size: 1.3rem;
                color: $very-dark-blue;
            }

        }
    }
}